<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867447335283-k5mnj7vib7itao0u93i6bveo9pvcovgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867447335283-k5mnj7vib7itao0u93i6bveo9pvcovgk</string>
	<key>API_KEY</key>
	<string>AIzaSyAH0Zf-TEArRq3zmknMRqVBgVx6irbAF4M</string>
	<key>GCM_SENDER_ID</key>
	<string>867447335283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mendAi</string>
	<key>PROJECT_ID</key>
	<string>mend-ai-616af</string>
	<key>STORAGE_BUCKET</key>
	<string>mend-ai-616af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867447335283:ios:b1257ba27f4ba959cafd06</string>
	<key>DATABASE_URL</key>
	<string>https://mend-ai-616af-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>